<div class="col-md-12">
	<div ng-repeat="venue in venues">
		<div ng-repeat="venueItem in venue">
			<div ng-repeat="v in venueItem" class="panel panel-default">
				<div class="panel-heading">
					<a ng-href="#/venues/{{ v.id }}">{{v.name}}</a>
				</div>
				<div class="panel-body">
					<address ng-hide="edit">
					  <strong>{{v.name}}</strong><br>
					  {{v.location.address}}<br>
					   {{v.location.city}}, {{v.location.state}}<br>
					   {{v.contact.formattedPhone}}
					</address>
		<!-- 			<form role="form" class="form-horizontal" ng-show="edit" ng-submit="saveRestaurant(restaurant)">
						<div class="form-group">
							<label for="address" class="col-sm-2 control-label">Address</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="Address" ng-model="restaurant.address"/>
							</div>
						</div>
						<div class="form-group">
							<label for="city" class="col-sm-2 control-label">City</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"  ng-model="restaurant.city"/>
							</div>
						</div>
						<div class="form-group">
							<label for="state" class="col-sm-2 control-label">State</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"  ng-model="restaurant.state"/>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
						      <input type="Submit" value="Save Restaurant" class="btn btn-primary" />
						    </div>
						</div>
					</form>
					<button class="btn btn-default" ng-hide="edit" ng-click="edit = !edit">Edit</a>
					<button class="btn btn-danger pull-right" ng-hide="edit" ng-click="deleteRestaurant(restaurant)">delete</a></button> -->
				</div>
			</div>
		</div>
	</div>
</div>



